# vscode 
.vscode
.env

# rasa model
models/

#temp files
*/__pycache__
~*
rasa.db
events.db
dump.rdb
chats_analysis/chats_log.csv
chats_analsysi/chats_log.pdf
chats_analysis/new_all.csv
chats_analysis/entity_csp.csv
chats_analysis/entity_csp.pdf
chats_analysis/chats_df.csv
chats_analysis/chats_log.csv
chats_analsysis/converted_log.csv
chats_analsysi/error_inquiry.csv
chats_analsysis/t_remind.csv
chats_analsysis/redis_read.py
