div.css-1r6slb0.e1tzin5v2 {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    padding: 1% 5% 5% 10%;
    border-radius: 2px;
}
div.css-1l269bu.e1tzin5v2 {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    padding: 2%;
    border-radius: 2px;
}